@using Microsoft.AspNetCore.Identity
@using ServiceWorkerWebsite.Areas.Identity.Data
@inject SignInManager<ServiceWorkerWebsiteUser> SignInManager
@inject UserManager<ServiceWorkerWebsiteUser> UserManager

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user"></i>
        @if (SignInManager.IsSignedIn(User))
        {
            <span>@UserManager.GetUserName(User)</span>
        }
        else
        {
            <span>Account</span>
        }
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        @if (SignInManager.IsSignedIn(User))
        {
            @if (User.IsInRole("Worker"))
            {
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="fas fa-user-circle"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="TimeSlots" asp-action="Index">
                        <i class="fas fa-calendar"></i> Bookings
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="fas fa-user-circle"></i> Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Bookings" asp-action="Index">
                        <i class="fas fa-history"></i> Booking History
                    </a>
                </li>
            }
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </button>
                </form>
            </li>
        }
        else
        {
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">
                    <i class="fas fa-sign-in-alt"></i> Login
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">
                    <i class="fas fa-user-plus"></i> Register
                </a>
            </li>
        }
    </ul>
</li>

