@model Worker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Worker</h4>
    <hr />
    <dl class="row">
        <!-- Profile Image -->
        <dt class="col-sm-2">            Profile Image         </dt>
        <dd class="col-sm-10"><img src="@Model.ProfilePic_Id" alt="Profile Image" style="max-width: 200px;" /></dd>
       
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Worker_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
